<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
            <title>{{ title }}</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- <div class="login">
            <input >
        </div> -->

        <div class="chat-box">
            <ul class="chat-screen">
                <li class="message">
                    Hello mot ngay that dep nha
                </li>
            </ul>
            <input type="text" class="chat-entry" placeholder="Enter a Message">
        </div>
    </body>
</html>