body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin:0;
}


.chat-box {
    display: none;
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 30px;
    flex-direction: column;

    border: 2px solid gray;
    box-sizing: border-box;
    
    justify-content: center;

    gap:15px
}

.chat-entry {
    width: 100%;
    margin: 0;

    box-sizing: border-box;
}

.chat-screen{
    margin: 0;
    overflow: scroll;
    height: 60%;
    background-color: white;
    border: 1px solid green;
    padding: 10px;
}

.message{
    list-style: none;
    font-size: 16px;
}

.system-message{
    color: red;
    font-size: 20px;
    list-style: none;
}

.user {
    font-weight: bold;
    color: grey;
}

.login-box{
    width:  20%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}